################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/RabbitMQ/bin/Debug/net6.0
/RabbitMQ/obj
